/************************************
	
	Adapted from uberwriter.css and swiss.css

************************************/
@font-face {
    font-family: 'Libertine';
    src: url('./fonts/LinLibertine_R.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Biolinum';
    src: url('./fonts/LinBiolinum_R.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
    /*width: 60%;*/
    width: 700px;
    margin: 0 auto;
    line-height: 1.4em;
    background-color: #FFFFFF;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#content {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	color: #101010;
	background-color: #FFFFFF;
	padding: 0px 20px 20px 20px;
	margin: 0px 20px 20px 20px;
	min-height: 300px;
}

#wrapper {
	background-color: #FFFFFF;
	padding: 20px 20px 20px 20px;
	margin: 20px 20px 20px 20px;
	/*border: solid 1px #DADADA;*/
}

#title {
	font-family: 'Libertine', Times,serif;
	font-size: 1.814em;
	line-height: 1.333em;
	font-weight: normal;
	border-bottom: solid 1px #DADADA;
	padding: 0px 0px 0px 20px;
}

#header {
	border-left: solid 1px #DADADA;
	/*border-right: solid 1px #DADADA;*/
	/*border-top: solid 1px #DADADA;*/
	/*border-bottom: solid 1px #DADADA;*/
	background:#FFFFFF;
	clear:right;
	float: right;
	color: #000000;
    font-size: 20px;
    font-weight: normal;
	font-family: 'Libertine', 'Biolinum', Times,serif;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 30px 40px;
    z-index: 100;
    text-align: left;
}

#header #text {
	font-family: 'Libertine', 'Biolinum', Times,serif;
	/*font-family: Verdana, sans-serif;*/
	font-size: 20pt;
	line-height: 1.333em;
	font-weight: bold;
	text-align: right;
	/*text-decoration: underline;*/
}

#header #links {
	font-size: 16pt;
	font-family: 'Libertine', 'Biolinum', Times,serif;
	/*font-color: #AAAAAA;*/
	text-align: right;
	/*font-family: helvetica;*/
}

.info {
	font-family: 'Libertine';
	text-decoration: underline;
}
#footer {
    border-top: solid 1px #DADADA;
    color: #555;
    font-size: 10px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    /*text-align: right;*/
}
#footer > #fl {
	float: left;
	text-align: left;
}
#footer > #fr {
	float: right;
	text-align: right;
}

@media screen and (max-width: 699px) {
	body{
		font-size: 1.1em;
		line-height: 1.3em;
		width: 450px;
		box-sizing: border-box;
	}

	#header {
		border-left: solid 1px #DADADA;
		border-bottom: solid 1px #DADADA;
		border-right: solid 1px #DADADA;
		border-top: solid 1px #DADADA;
		text-align: center;
		width: 350px;
		float: none;
		clear: both;
		padding: 0px 10px 10px 10px;
		margin: 0px 0px 0px 0px;
		/*left: 50%;*/
	}
	#header #text {
		font-size: 20pt;
		text-align: center;
	}
	#header #links {
		text-align: center;
	}
	#meImg {
		display: none;
	}
}

a {
	font-size: 1.05em;
	text-decoration: none;
}

a:link {
	color: #226666;
}
a:visited{
	color: #AA4139;
}
a:hover{
	color: #2B823A;
}
a:active{
	color: #AA6C39;
}

#header #links a {
	color: #555555;

	/*font-weight: lighter;*/
	/*text-decoration: underline;*/
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Libertine', Times,serif;
	text-decoration: underline;
}

h1 {
	font-size: 1.714em;
	line-height: 1em;
	/*margin: 0;*/
	/*margin-top: 1.111em;*/
	font-weight: normal;
	text-decoration: underline;
}

h2 {
	font-size: 1.533em;
	line-height: 1em;
	/*margin-top: 1.333em;*/
	/*margin-bottom: 1em;*/
	font-weight: normal;
	text-decoration: underline;
}

h3 {
	font-size: 1.147em;
	line-height: 1em;
}

h4 {
	font-size: 1.1em;
}

blockquote {
    border-left: 5px solid #666;
    padding-left: 20px;
    margin-left: 20px;
}

p, li {
    margin-top: 10px;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
    width: 80%;
    border-top: 1px solid #222;
}
   
ol, ul {
    /*margin: 1.143em 0 1.143em 40px;*/
   	/*padding: 0 0 0 0px;*/
}

ol li, ul li{
}

.title {
	margin-bottom: 0px;
	font-style: underline;
}
.author, .date {
	font-family: sans-serif; /*'Open Sans',*/
	font-size: 14px;
	display: inline-block;
	color: #777;
	margin-bottom: 30px;
}

.author::after {
	content: ' ,';
}
.figure {
	display: block;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}
img {
	max-width: 600px;
}
.caption {
	text-align: center;
	background: #F6F6F6;
}


/* Syntax highlighting stuff */
/* Generated by pandoc. */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none;}
td.lineNumbers { border-right: 1px solid #DADADA; text-align: right; color: #DADADA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
.sourceCode span.kw { color: #007020; font-weight: bold; }
.sourceCode span.dt { color: #902000; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }

code {
	font-family: monospace; /*'Fantasque Sans Mono',*/ 
	font-size: 12px;
}

pre {
	background: #F3F3F3;
	padding: 5px;
	margin-left: -5px;
	overflow-x:auto;/* Add scroll bar if code overflows */
	-moz-tab-size: 6; /*fix massive tabs*/
    -o-tab-size:   6;
    tab-size:      6;
}

#homepageCode > pre > code
{	
	font-size: 12px !important;
	white-space: pre-wrap;       
	white-space: -moz-pre-wrap;  
	white-space: -pre-wrap;      
	white-space: -o-pre-wrap;    
	word-wrap: break-word;       
}
